<!-- angular is front end framework
it is used for single page application
developed by google -->


<!-- how to install angualr -->

<!-- 1. install node js
2. go to angular cli
3. go to teminal
    [npm install -g @angular/cli]
4. ng new foldername
     ex: ng new test

     ng new my-first-project
     cd my-first-project
     ng serve 
5. go to chrome [localhost:4200]
     4200 is specified angualr port -->

     <!-- https://www.youtube.com/watch?v=9CVZks6U0ZY&list=PL8p2I9GklV45JZerGMvw5JVxPSxCg8VPv
 -->
